__pycache__
.coverage
.venv
.env
dist/
.vscode
.mcpregistry_*
Justfile
Dockerfile
img/
server.json
CONTRIBUTING.md
.dockerignore
.envrc
.flake8
.gitignore
*.tar
tests/
.pytest_cache/
.inline-snapshot
.env.example
server.json
Justfile
.git
acl.yaml*